section.about
  .container
    .about-wrap
      .about-wrap__img
        img(src="assets/images/about.png", alt="About")
      .about-wrap-content
        .about-wrap-content__title О нашем агентстве
        .about-wrap-content-text
          p.about-wrap-content-text__par
            | Агентство правовых решений – российская компания, сопровождающая деятельность юридических лиц,
            | а также оказывающая правовую поддержку физическим лицам.
          .about-wrap-content-text__par
            | Cпециализируемся на предоставлении всего комплекса юридических услуг от консультаций до 
            | ведения сложнейших дел в судах различных инстанций.
        .about-wrap-content-list
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
          .about-wrap-content-list-item
            .item__point
            p.item__text  Многолетний опыт работы - Агентство правовых решений существует на рынке с 2009 года
