.blog-wrap-main
  a(href="http://localhost:3000/post.html").blog-wrap-main-link
    .blog-wrap-main-item
      .blog-wrap-main-item__img
        img(src="assets/images/blog_img1.jpg", alt="")
      .blog-wrap-main-item-content
        .blog-wrap-main-item-content__date  3 июля 2020 года
        .blog-wrap-main-item-content__title Как будет проходить техосмотр по новым правилам с лета 2020 года?
        .blog-wrap-main-item-content__link Читать статью
  a(href="#").blog-wrap-main-link
    .blog-wrap-main-item
      .blog-wrap-main-item__img
        img(src="assets/images/blog_img1.jpg", alt="")
      .blog-wrap-main-item-content
        .blog-wrap-main-item-content__date  3 июля 2020 года
        .blog-wrap-main-item-content__title Как будет проходить техосмотр по новым правилам с лета 2020 года?
        .blog-wrap-main-item-content__link Читать статью
  a(href="#").blog-wrap-main-link
    .blog-wrap-main-item
      .blog-wrap-main-item__img
        img(src="assets/images/blog_img1.jpg", alt="")
      .blog-wrap-main-item-content
        .blog-wrap-main-item-content__date  3 июля 2020 года
        .blog-wrap-main-item-content__title Как будет проходить техосмотр по новым правилам с лета 2020 года?
        .blog-wrap-main-item-content__link Читать статью