section.section-grey.footer
  .container
    .footer-wrap
      .footer-wrap__logo
        img(src="assets/images/footer_logo.png", alt="")
      .footer-wrap-contacts
        .footer-wrap-contacts-item
          p.footer-wrap-contacts-item__name Телефон
          a(href="tel: 8 (4852) 33-60-12").footer-wrap-contacts-item__value  8 (4852) 33-60-12
        .footer-wrap-contacts-item
          p.footer-wrap-contacts-item__name E-mail
          a(href="mailto: juricentr@gmail.com").footer-wrap-contacts-item__value  juricentr@gmail.com
        .footer-wrap-contacts-item
          p.footer-wrap-contacts-item__name Адрес
          p.footer-wrap-contacts-item__value  Ярославль, улица Кирова, 4
        .footer-wrap-contacts-item
          p.footer-wrap-contacts-item__name Социальные сети
          a(href="#").footer-wrap-contacts-item__value.footer-wrap-contacts-item__value_vk  ВКонтакте
section.section-white.under-footer
  .container
    .under-footer-wrap
      .under-footer-wrap-left
        p.under-footer-wrap-left__item  ООО “АльфаСтройПроект”, все права защищены
        a(href="#").under-footer-wrap-left__item  Политика конфиденциальности
      .under-footer-wrap-right
        p.under-footer-wrap-right__item Сделано с любовью в <a href="#">RybaCode</a>


