extends ../template
block title
  | АПР - Контакты
block content
  include ../common/header
  section.post
    .container
      .post-wrap
        a(href="http://localhost:3000/index.html").post-wrap__link-back
          .link-back__arrow
            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.33333 1L1 6.33333L6.33333 11.6667" stroke="#7E7E7E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          p  Блог
        .post-wrap__title  Как будет проходить техосмотр по<br>новым правилам с лета 2020 года?
        .post-wrap__date  27 апр 2020 в 12:16
        .post-wrap__img
          img(src="assets/images/blog_img1.jpg", alt="")
        .post-wrap-block
          p.post-wrap-block__text С лета 2020 года техосмотр будет проходить по новым правилам. Главным является то, что весь процесс должен быть сфотографирован. В ходе его должно быть хорошо видно, что машина принадлежит именно её хозяину. Результаты осмотра передаются в информационную систему МВД.
          p.post-wrap-block__text С лета 2020 года техосмотр будет проходить по новым правилам. Главным является то, что весь процесс должен быть сфотографирован. В ходе его должно быть хорошо видно, что машина принадлежит именно её хозяину. Результаты осмотра передаются в информационную систему МВД.
          p.post-wrap-block__text С лета 2020 года техосмотр будет проходить по новым правилам. Главным является то, что весь процесс должен быть сфотографирован. В ходе его должно быть хорошо видно, что машина принадлежит именно её хозяину. Результаты осмотра передаются в информационную систему МВД.
  include ../common/footer
        