extends ../template
block title
  | АПР - Отзывы
block content
  include ../common/header
  section.reviews
    .container
      .reviews-wrap
        .reviews-wrap-top
          .reviews-wrap-top__title Отзывы
        .reviews-wrap-mid
          #fourth-block.grid.feedback-wrap-bottom
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, corrupti repellendus! Libero ipsam dolorum molestias nisi, error tempore temporibus obcaecati, voluptatum suscipit aut qui eius eligendi nostrum? Molestias laudantium illum officiis facere velit unde minus tempora architecto vitae dicta. Rerum maxime autem corporis provident ipsa laudantium repudiandae aperiam dignissimos tenetur, sequi minus inventore saepe dolores numquam? Consequuntur voluptates accusantium a nostrum aspernatur debitis, nam voluptate rerum at animi. Dolor, nisi.
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore deleniti mollitia cupiditate, alias quis accusamus excepturi cumque nisi impedit obcaecati dicta et enim asperiores eaque ex nemo non quidem.
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia et iure facere quos enim nesciunt pariatur sit quae, repudiandae, minus maxime, accusantium libero animi unde deleniti? Consequatur dolorem vitae rem!
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏
            .feedback-wrap-bottom-item.grid-item
              .item-person
                .item-person__img
                  img(src="assets/images/person.png", alt="")
                .item-person-info
                  .item-person-info__name Ирина Курганова
                  .item-person-info__date 27 апр 2020 в 21:11
              p.item-text 
                | Обратилась в данную организацию в конце января. Ситуация была не из простых, но благодаря серьезному
                | подходу к проблеме, всё разрешилось наилучшим образом. Огромное спасибо за помощь, буду рекомендовать Вас своим знакомым!👏
        .reviews-wrap-bot
          button.news-wrap-bot-more
            p Показать еще
            .reviews-wrap-bot-more__plus
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 8V4M4 0V4M4 4H8M4 4H0" stroke="#BABABA"/>
              </svg>
  include ../common/footer