.grid {
  width: calc(100% + 24px);
}
.grid-item {
  width: calc(100% / 3 - 24px);
}

@media screen and (max-width: 1023px) {
  .grid-item {
    width: calc(100% / 2 - 24px);
  }
}

@media screen and (max-width: 767px) {
  .grid {
    width: 100%;
  }
  .grid-item {
    width: 100%;
  }
}